.affichageEquipe
    margin-left: 20px
    margin-right: 20px
    display: flex
    justify-content: center
    align-items: center
    .terrain
        width: 600px
        height: 700px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        border-radius: 30px
        border: solid black 2px
        
       
.carte
    width: 60px
    height: 100px
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    position: absolute

.contact
    width: 40px
    margin: 20px 0px 0px 10px

        

       
        
